{% extends "cpadmin.layout.popup.html" %}

{% block title %}
차량 정보 수정
{% endblock %}

{% block sub_styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />
<style>
    form[name=car_info] th span{
        color: red;
    }

    .slick-prev:before,
    .slick-next:before{
        background-color: black;
    }
</style>
{%- endblock sub_styles %}

{% block sub_scripts %}
    {{ super() }}
    <script type="text/javascript" src="http://kenwheeler.github.io/slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.1.2/sprintf.min.js"></script>

    <script>
        $(document).ready(function() {
            // 이미지 슬라이드 생성 로직
            $('[data-slick-items]').slick({
                speed : 300 ,
                infinite: true,
                autoplaySpeed: 3000 ,
                arrows: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                fade: false
            });

            // 동력발생장치 최초 세팅
            if($('[data-power-plant-device]').val()=="ENGINE") $('[data-motor-div]').toggle();
            else $('[data-engine-div]').toggle();

            // 동력발생장치 변경 시 나오는 로직.
            $('[data-power-plant-device]').change(function () {
                if($(this).val()=="ENGINE{") $('[data-power-common]').toggle()
                else $('[data-power-common]').toggle()
            });

            // 연도와 달이 바뀌었을 때 해당 달의 일자를 가져오는 ajax.
            $('[data-year], [data-month]').change(function(){
                // 선택된 연도
                var year = $('[data-year]').val();
                // 선택된 달
                var month = $('[data-month]').val();

                // 연도 유효성 체크
                if (isNullEmpty(year)||isNullEmpty(month)){
                    alert('폼을 완성해주세요.');
                    return false;
                }

                // 일자를 초기화(추가된 옵션을 삭제)
                $('[data-day] option').remove();

                var ti_form = new TIForm(false);  // 프로젝트 팀에서 ajax form 처리를 위해 사용. common.lib.js
                ti_form.add_hidden('year', year);
                ti_form.add_hidden('month', month);

                var result_json = ti_form.submit_ajax_get_return_json("{{ url_for('CpAdminView:check_add_day') }}");
                // ajax. 성공 시 해당 월의 일수만큼 옵션 append. 실패 시 메세지.
                if(result_json.success){
                    $('<option>').text('선택').appendTo($('[data-day]'));
                    for(var day = 1; day<=result_json.day; day++){
                    $('<option>').val(day).text(zeroPad(day, 2)).appendTo($('[data-day]'));  // 프로젝트 팀에서 ajax form 처리를 위해 사용. common.lib.js
                    }
                    return false;
                }else {
                    alert(result_json.message);
                    return false;
                }
            });

            // 버튼 클릭 시 옵션 인풋 추가
            $("[data-add]").click(function(){
                var line = $('<li>');
                $('<input>').attr('type', 'text').attr('name', 'option').appendTo(line);
                $('<button>').text('삭제').css('margin', '10px').bind('click', function(){
                    $(this).closest('li').remove();
                }).appendTo(line);
                line.appendTo($('[data-option-area]'));
            });


            // <정보등록> 버튼을 누르면 유효성 검사 후 정보 submit.
            $("[data-update-action-btn]").click(function(){
                var form_tag = $("form[name='car_info']");
                if(!form_tag.isValid() || !confirm("수정하시겠습니까?")) {
                    return false;
                }
                var result_json = form_tag.ajax_form_submit_return_json();
                if(result_json.success){
                    alert("변경되었습니다.");
                    window.opener.location.reload();
                    window.close();
                }else{
                    // 서버에서 유효성 검사 한 결과
                    $.each(JSON.parse(result_json["message"]),function(key,value) {
                        alert(value);
                    });
                }
            });

        });
    </script>
{%- endblock sub_scripts %}

{% block content %}
<h1>차량 정보 수정</h1>
    <form name="car_info" method="POST" data-validate-form="security" action="{{ url_for('CpAdminView:car_update_action', car_id = car.id) }}"  enctype="multipart/form-data" method="post">
        <div class="table_title">기본 정보</div>
        <table class="basic_table al">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col />
            </colgroup>
            <tbody>
            <tr>
                <th><span>*</span>브랜드명</th>
                <td>
                    <select name="brand_id" data-validation="required"  data-validation-error-msg="필수항목입니다." style="width: 57%">
                        {% for brand in brand_list %}
                            <option {{ 'selected' if car.car_brand_id == brand.id }} value="{{ brand.id }}">{{ brand.name }}</option><!-- todo -->
                        {% endfor %}
                    </select>
                </td>
                <th><!--기획서상 빈 태그 --></th> <td><!--기획서상 빈 태그 --></td>
            </tr>
            <tr>
                <th><span>*</span>차량명</th>
                <td><input type="text" name="name" value="{{ car.name }}"></td>
                <th><span>*</span>색상</th>
                <td>
                    <select name="color" data-validation="required" data-validation-error-msg="필수항목입니다." style="width: 57%">
                        {% for car_color in CarColor %}
                        <option {{ 'selected' if car.color.name == car_color.name }} value="{{ car_color.name }}">{{ car_color.value }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>차량 이미지</th>
                <td colspan="3">
                    <input type="text" data-car-image-file-name readonly onclick="$('[name=images]').trigger('click')"><button type="button" onclick="$('[name=images]').trigger('click')">파일 찾기</button>
                    <input type="file" multiple name="images" style="display:none;"  onchange="$('[data-car-image-file-name]').val($(this).val())"/>  <!-- 여기에 제약조건을 걸기 위해서는 어떻게 해야하나... -->
                    <div style="height: 100px; margin: 20px;padding: 10px 30px; border: darkgray solid 1px;">
                        <div data-slick-items style="width: 800px;">
                            {% for file in car.car_image_upload_file %}
                                <div style="text-align: center"> <img src="{{ file.thumb_url }}" style="margin: 0px auto; width: 150px; height: 100px"> </div>
                            {% endfor %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span>*</span>탑승인원</th>
                <td>
                    <select name="passenger_count" data-validation="required" data-validation-error-msg="필수항목입니다." style="width: 57%">
                        <option {{ 'selected' if car.passenger_count == 4 }} value="4">4</option>
                        <option {{ 'selected' if car.passenger_count == 5 }} value="5">5</option>
                        <option {{ 'selected' if car.passenger_count == 7 }} value="7">7</option>
                    </select>
                </td>
                <th><span>*</span>분류</th>
                <td>
                    <select name="category" data-validation="required" data-validation-error-msg="필수항목입니다." style="width: 57%">
                        {% for car_category in CarCategory %}
                        <option {{ 'selected' if car.category.name == car_category.name }} value="{{ car_category.name }}">{{ car_category.value }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th><span>*</span>동력발생장치</th>
                <td>
                    <select data-power-plant-device name="power_plant_device" data-validation="required" data-validation-error-msg="필수항목입니다." style="width: 57%">
                        {% for car_power_plant_device in CarPowerPlantDevice %}
                        <option {{ 'selected' if car.power_plant_device.name == car_power_plant_device.name }} value="{{ car_power_plant_device.name }}">{{ car_power_plant_device.value }}</option>
                        {% endfor %}
                    </select>
                </td>
                <th><span>*</span>차량 출시일</th>
                <td>
                    <select name="released_at" data-validation="required" data-validation-error-msg="필수항목입니다." data-year>
                        <option value="">선택</option>
                        {% for year in range(car.released_at.year-10, car.released_at.year+10) %}
                        <option {{ 'selected' if car.released_at.year == year }} value= {{ year }} > {{ year }} </option>
                        {% endfor %}
                    </select>

                    <select name="released_at" data-validation="required" data-validation-error-msg="필수항목입니다." data-month>
                        <option value="">선택</option>
                        {% for month in range(1, 13) %}
                        <option {{ 'selected' if car.released_at.month == month }} value= {{ month }} >{{ "{0:0>2}".format(month) }} </option>
                        {% endfor %}
                    </select>

                    <select name="released_at" data-validation="required" data-validation-error-msg="필수항목입니다." data-day>
                        <option value="">선택</option>
                        {% for day in range(1, days+1) %}
                        <option {{ 'selected' if car.released_at.day == day }} value= {{ day }} >{{ "{0:0>2}".format(day) }} </option>
                        {% endfor %}}
                    </select>
                </td>
            </tr>

            </tbody>
        </table>
        <div class="table_title">동력정보</div>
        <div data-engine-div data-power-common >
            <table class="basic_table al">
                <colgroup>
                    <col width="15%" />
                    <col width="35%" />
                    <col width="15%" />
                    <col />
                </colgroup>
                <tbody>
                <tr>
                    <th><span>*</span>엔진 변속</th>
                    <td>
                        <select name="engine_shift" data-validation="required" data-validation-error-msg="필수항목입니다." style="width: 57%">
                            <option {{ 'selected' if car.engine and car.engine.engine_shift == 4 }} value="4">4</option>
                            <option {{ 'selected' if car.engine and car.engine.engine_shift == 5 }} value="5">5</option>
                            <option {{ 'selected' if car.engine and car.engine.engine_shift == 7 }} value="7">7</option>
                        </select>
                        <script>
                        </script>
                    </td>
                    <th><span>*</span>자동 변속</th>
                    <td>
                        <select name="is_automatic" data-validation="required" data-validation-error-msg="필수항목입니다." style="width: 57%">
                            <option {{ 'selected' if car.engine and car.engine.is_automatic.name|e == "Y" }} value="Y">자동</option>
                            <option {{ 'selected' if car.engine and car.engine.is_automatic.name|e == "N" }} value="N">수동</option>
                        </select>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div data-motor-div data-power-common>
            <table class="basic_table al">
                <colgroup>
                    <col width="15%" />
                    <col width="35%" />
                    <col width="15%" />
                    <col />
                </colgroup>
                <tbody>
                <tr>
                    <th><span>*</span>충전 방식</th>
                    <td>
                        <select name="fill_method" data-validation="required" data-validation-error-msg="필수항목입니다." style="width: 57%">
                            {% for fill_method in FillMethod %}
                                <option {{ 'selected' if car.motor and car.motor.fill_method.name == fill_method.name }} value="{{ fill_method.name }}">{{ fill_method.value }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <th><span>*</span>급속충전시간</th>
                    <td>
                        <input name="boost_charge_time" type="text" data-validation="number" value="{{ car.motor.boost_charge_time if car.motor}}">
                    </td>
                </tr>
                <tr>
                    <th><span>*</span>완속충전시간</th>
                    <td>
                        <input name="slow_charge_time" type="text" data-validation="number" value="{{ car.motor.slow_charge_time if car.motor}}">
                    </td>
                    <th><!--기획서상 빈 태그 --></th> <td><!--기획서상 빈 태그 --></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table_title">편의사항</div>
        <table class="basic_table al">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th>mobile 연동</th>
                    <td>
                        <select name="has_mobile_linkage" style="width: 57%">
                            <option {{ 'selected' if car.has_mobile_linkage.name|e == "Y" }} value="Y">네</option>
                            <option {{ 'selected' if car.has_mobile_linkage.name|e == "N" }} value="N">아니오</option>
                        </select>
                    </td>
                    <th>크루즈 컨트롤</th>
                    <td>
                        <select name="has_cruise_control" style="width: 57%">
                            <option {{ 'selected' if car.has_cruise_control.name|e == "Y" }} value="Y">네</option>
                            <option {{ 'selected' if car.has_cruise_control.name|e == "N" }} value="N">아니오</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>열선 스티어링 휠</th>
                   <td>
                        <input {{ 'checked' if car.has_heated_stering_wheel.name|e == "Y" }} name="has_heated_stering_wheel" type="checkbox">
                    </td>
                    <th>열선 시트</th>
                    <td>
                        <select name="has_heated_sheet" style="width: 57%">
                            <option {{ 'selected' if car.has_heated_sheet.name|e == "Y" }} value="Y">네</option>
                            <option {{ 'selected' if car.has_heated_sheet.name|e == "N" }} value="N">아니오</option>
                        </select>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="table_title">안전</div>
        <table class="basic_table al">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th>에어백 갯수</th>
                    <td>
                        <input type="text" name="airbag_count" data-validation="number" data-validation-allowing="range[0;10]" style="width: 50%;" value="{{ car.airbag_count }}">
                    </td>
                    <th>경사로 밀림방지</th>
                    <td>
                        <select name="has_slope_safe" data-validation="" style="width: 57%">
                            <option {{ 'selected' if car.has_slope_safe.name|e == "Y" }} value="Y">네</option>
                            <option {{ 'selected' if car.has_slope_safe.name|e == "N" }} value="N">아니오</option>
                        </select>
                    </td>
                </tr>

                <tr>
                   <th>급제동 경보</th>
                    <td>
                        <select name="has_sudden_breaking_alarm" data-validation=""  style="width: 57%">
                            <option {{ 'selected' if car.has_sudden_breaking_alarm.name|e == "Y" }} value="Y">네</option>
                            <option {{ 'selected' if car.has_sudden_breaking_alarm.name|e == "N" }} value="N">아니오</option>
                        </select>
                    </td>
                    <th>후방 감지</th>
                    <td>
                        <select name="has_rear_sensor" data-validation="" style="width: 57%">
                            <option {{ 'selected' if car.has_rear_sensor.name|e == "Y" }} value="Y">네</option>
                            <option {{ 'selected' if car.has_rear_sensor.name|e == "N" }} value="N">아니오</option>
                        </select>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="table_title">옵션</div>
        <br>
        <ul data-option-area style="border: darkgray solid 1px; padding: 10px 10px">
            <li style="list-style: none"><input type="text" name="option">&nbsp;&nbsp;<a href="javascript:void(0)" data-add class="btn" >추가</a></li>
            {% if car.option_list %}
                {% for option in car.option_list %}<!-- 'NoneType' object is not iterable -->
                    <li style="list-style: none">
                        <input type="text" name="option" value="{{ option }}"><button style="margin: 10px" onclick="$(this).closest('li').remove()">삭제</button>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>

    <div class="table_btn">
        <a href="javascript:void(0);" class="btnB submit" data-update-action-btn>정보수정</a>
    </div>
{% endblock %}