{% extends "cpadmin.layout.popup.html" %}

{% block title %}
차량 브랜드 수정
{% endblock %}
{% block sub_styles %}
{{ super() }}
<style>
    form[name=car_brand_info] th span{
        color: red;
    }
</style>
{%- endblock sub_styles %}

{% block sub_scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            // 선택된 국가를 국가를 지정하는 코드
            $("[name=country_id]").val("{{ car_brand.code_country_id|e }}").prop("selected", true); // 이것도 대체할 수 있는 방법이 있나??

            // <정보수정> 버튼을 누르면 유효성 검사 후 정보 submit.
            $("[data-update-action-btn]").click(function(){
                var form_tag = $("form[name='car_brand_info']");
                if(!form_tag.isValid() || !confirm("수정하시겠습니까?")){
                    return;
                }
                var result_json = form_tag.ajax_form_submit_return_json();
                if(result_json.success){
                    alert("수정되었습니다.");
                    window.opener.location.reload();
                    window.close();
                }else{
                    // 서버에서 유효성 검사 한 결과
                    $.each(JSON.parse(result_json["message"]),function(key,value) {
                        alert(value);
                    });
                }
            });
        });
    </script>
{%- endblock sub_scripts %}

{% block content %}
<h1>차량 브랜드 수정</h1>
    <form name="car_brand_info" method="POST" enctype="multipart/form-data" data-validate-form="security" action="{{ url_for('CpAdminView:car_brand_update_action', brand_id = car_brand.id) }}">
        <table class="basic_table al">
            <colgroup>
                <col width="15%" />
                <col width="35%" />
                <col width="15%" />
                <col />
            </colgroup>
            <tbody>
            <tr>
                <th><span>*</span>브랜드명</th>
                <td><input type="text" name="brand_name" data-brand-name data-validation="required" data-validation-error-msg="필수항목입니다." value="{{ car_brand.name }}" /></td>
                <th><span>*</span>국가</th>
                <td><select name="country_id" data-holder-country-select data-country-select="name_ko:name_native:id:name_ko:0" data-validation="required" data-validation-error-msg="필수항목입니다."></select></td>
            </tr>
            <tr>
                <th>로고 이미지</th>
                <td><img src="{{ car_brand.car_brand_image_upload_file.thumb_url }}" style="width: 135px; height: 120px; display: block;" />
                    <br>
                    <input type="text" data-logo-file-name readonly onclick="$('[name=logo_image]').trigger('click')"><button type="button" onclick="$('[name=logo_image]').trigger('click')">파일 찾기</button>
                <input type="file" name="logo_image" style="display:none;"  onchange="$('[data-logo-file-name]').val($(this).val());"/></td>
                <th></th>
                <td></td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
    <div class="table_btn">
        <a href="javascript:void(0);" class="btnB submit" data-update-action-btn>정보수정</a>
    </div>

{% endblock %}